@model WebApplication4.campus

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top:10px;">Campus Management</h2>

<h4 style="margin-top:50px;margin-left:30px">Are you sure you want to delete @Html.DisplayFor(model => model.c_name) ?</h4>
<div>
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
